<strong>Hi {{ ownerName }}!</strong>
<p>Há uma nova inscrição no seu meetapp <strong>{{ meetappTitle }}</strong></p>
<p>
  <strong>Data: </strong>{{ meetappDate }} <br />
  <br />
  <strong>Inscrito: </strong>{{ userSubName }}<br />
  <strong>E-mail: </strong>{{ userSubEmail }}<br /><br /><br />
  <small>Inscrito em: {{ sendDate }}</small>
  <br />
</p>
